.self {
text-align: center;
margin: -15px;
padding: -25px;
border: 4px;
}

.target {
text-align: center;
}

a {
  color: #444444;
  text-decoration: none;
}

.open_controls, .controls {
  background-color: #ccc;
  border-radius: 3px;
  padding: 5px 7px;
  position: absolute;
}

.open_controls {
  z-index: 1;
}

.controls {
  border-top: 1px solid #444;
  display: none;
  margin-top: 25px;
  z-index: 2;
}

.controls a {
  display: inline-block;
  margin-top: 5px;
}

#rose {
margin-left: auto;
margin-right: auto;
display: block;
max-height: 25%;
max-width: 25%;
}

#Valerie {
margin-left: auto;
margin-right: auto;
max-height: 25%;
max-width: 25%;
}

#spirit {
}

#bump {
position: absolute;
bottom: 5px;
}
